.main_wrapper{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.638);
    
}

.main_text{
    font-size: 15px;
    display: flex;
    color: rgb(255, 200, 0);
    align-items: center;
    gap: 90px;
    padding-left: 19px;  
}

.avatar{
    padding-right: 30cm;
}

.search{


    
}
