.main_wrapper{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.638);
    
}

.main_text{
    font-size: 15px;
    display: flex;
    color: rgb(0, 0, 0);
    align-items: center;
    gap: 100px;
    padding-left: 15px;
    text-decoration: none;
    padding-top: 10px;
    
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 95px;
    color: rgb(255, 255, 255);
   text-decoration: none;
}

.avatar{
    padding-right: 30cm;
}

.search{


    
}

.border{
    position:fixed;
    top: 30px;
    left: 30px;
    border: 1px solid #000000;
}